# Custom AI Service Configuration
CUSTOM_AI_URL=https://edyx-backend.onrender.com/chat
AI_API_KEY="edyx_live_83e8a2759ad8a2428f95f1f184784d20102aa933fd88b8c3"

# Backend Settings
# PORT=8000
# ALLOWED_ORIGINS=http://localhost:5173
